.outer {
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.algorithm {
    flex: 0 1 0 auto;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.column {
    flex: 0 1 0 auto;
    margin-right: 4px;
}

.pixels {
    display: grid;
    grid-gap: 1px;
    width: 130px;
    height: 130px;
    grid-template-columns: 26px 26px 26px 26px 26px;
    border: white 1px solid;
    background-color: gray;
}
