.outer {
    display: flex;
    font-family: monospace;
}

.column {
    flex: 0 1 0 auto;
    margin-right: 4px;
}

.pixels {
    display: grid;
    grid-gap: 1px;
    width: 160px;
    height: 160px;
    grid-template-columns: 32px 32px 32px 32px 32px;
    border: white 1px solid;
    background-color: gray;
}
